/* src/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf6e3;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffebcd;
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #8b4513;
}

.quick-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.quick-options .option {
  background-color: #8b4513;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

button {
  background-color: #8b4513;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d;
}

.order {
  background-color: #fffaf0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.border1{
  border: #a0522d;
  border-radius: 5px;
  background-color: antiquewhite;
}