.bg-black{
    background-color: rgba(0, 0, 0, 0.86);
}
.c-white{
    color: aliceblue;
}
.d-flex{
    display: flex;
}
.link-color{
    color: aliceblue;
}
.txt_decoration{
    text-decoration: none;
}
.content-sevenly{
    justify-content: space-evenly;
}
.a-items{
    align-items: center;
}

.nav{
    padding: 0px 20px;
}

.nav-links li a{
    text-decoration: none;
}

.nav-links li{
    list-style-type: none;
    padding-right: 20px;
}

.justify-spaceAround{
    justify-content: space-around;
}

.w100{
    width: 100%;
}


.justify-spaceBetween{
    justify-content: space-between;
}